<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="https://kit.fontawesome.com/003dd04503.js" crossorigin="anonymous"></script>
    <link href="~/Content/css/menu.css" rel="stylesheet" />
    <link href="~/Content/css/resumen.css" rel="stylesheet" />
    <link href="~/Content/css/empleado.css" rel="stylesheet" />
    <link href="~/Content/css/Agregar.css" rel="stylesheet"/>
</head>
<body>
    <header>
        <label class="fa-solid fa-bars"></label>
        <i class="fa-solid fa-circle-user"></i>
        <div class="menu">
            @{
                var sharedData = Session["Nombre"] as string;
            }

            @if (sharedData != null)
            {
                <a>Hola, @sharedData</a>
            }
            else
            {
                <a>Error </a>
            }

            <a href="@Url.Action("CerrarSesion","Home")">Cerrar Sesion</a>
        </div>
    </header>

    <main>
        <nav class="nav">
            <ul class="list">
                <li class="list__item">
                    <div class="list__buttom">
                        <i class="fa-solid fa-square-poll-vertical"></i>
                        <a href="@Url.Action("Resumen", "Home")" class="nav__link"> Resumen</a>
                    </div>
                </li>
                <li class="list__item list__item--click">
                    <div class="list__buttom list__buttom--click">
                        <i class="fa-solid fa-user-group"></i>
                        <a href="#" class="nav__link">Personal</a>
                        <i class="fa-solid fa-angles-right list__arrow"></i>
                    </div>
                    <ul class="list__show">
                        <li class="list_inside">
                            <a href="@Url.Action("Empleado", "Empleados")" class="nav__link nav__link--inside"> <i class="fa-solid fa-helmet-safety"></i> Empleados</a>
                        </li>
                        <li class="list_inside">
                            <a href="@Url.Action("Cargos", "Home")" class="nav__link nav__link--inside"> <i class="fa-solid fa-users"></i> Cargos</a>
                        </li>
                    </ul>
                </li>

                <li class="list__item">
                    <div class="list__buttom">
                        <i class="fa-solid fa-cart-shopping"></i>
                        <a href="@Url.Action("Compras", "Home")" class="nav__link"> Compras</a>
                    </div>
                </li>

                <li class="list__item">
                    <div class="list__buttom">
                        <i class="fa-solid fa-cubes"></i>
                        <a href="@Url.Action("Recursos", "Home")" class="nav__link"> Recursos</a>
                    </div>
                </li>

                <li class="list__item list__item--click">
                    <div class="list__buttom list__buttom--click">
                        <i class="fa-solid fa-address-book"></i>
                        <a href="#" class="nav__link"> Contactos </a>
                        <i class="fa-solid fa-angles-right list__arrow"></i>
                    </div>
                    <ul class="list__show">
                        <li class="list_inside">
                            <a href="@Url.Action("Cliente", "Home")" class="nav__link nav__link--inside"> <i class="fa-solid fa-person"></i> Clientes</a>
                        </li>
                        <li class="list_inside">
                            <a href="@Url.Action("Proveedor", "Home")" class="nav__link nav__link--inside"> <i class="fa-solid fa-truck-field"></i> Proveedores</a>
                        </li>
                    </ul>
                </li>

                <li class="list__item">
                    <div class="list__buttom">
                        <i class="fa-solid fa-clipboard-list"></i>
                        <a href="@Url.Action("Proyecto", "Home")" class="nav__link"> Proyectos</a>
                    </div>
                </li>

                <li class="list__item">
                    <div class="list__buttom">
                        <i class="fa-solid fa-hand-holding-dollar"></i>
                        <a href="@Url.Action("Servicio", "Home")" class="nav__link"> Servicios</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="principal">
            @RenderSection("Styles", required: false)
            @RenderBody()
        </div>
    </main>
    <footer class="pie">
        <div>
            <span style="right:0">Derechos reservados al Grupo #</span>
        </div>
    </footer>
    
    <script src="~/Scripts/js/menujs.js"></script>
</body>
</html>
