@model IEnumerable<PaginaWebMVC.Models.DTO.EmpleadosDTO>

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Empleado";
}

<div class="Cont_">
    <div class="Cont_Header">
        <h2>
            EMPLEADOS
        </h2>
        <input type="search" placeholder="Buscar">
    </div>
    <div class="Cont_Botones">
        @Html.ActionLink("Agregar", "Create")
    </div>
    <div class="Cont_Tabla">
        <table>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.emp_id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.emp_ced)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.emp_nom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.emp_ape)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cargo_nom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.emp_salario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ciu_nom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.emp_fec_contrat)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.emp_tel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.emp_est)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.emp_id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.emp_ced)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.emp_nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.emp_ape)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cargo_nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.emp_salario)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ciu_nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.emp_fec_contrat)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.emp_tel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.emp_est)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id=item.emp_id}, new { @class = "editar" })
                            @Html.ActionLink("Detalles", "Details", new { id = item.emp_id }, new { @class = "detalles" })
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.emp_id }, new { @class = "eliminar" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

