@model PaginaWebMVC.ViewModels.GetCargosVM

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Cargos";
}

<div class="Cont_">
    <div class="Cont_Header">
        <h2>
            CARGOS
        </h2>
        <input type="search" placeholder="Buscar">
    </div>
    <div class="Cont_Body">

        <div class="Cont_Tabla">
            <table>
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.newCargo.cargo_id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.newCargo.cargo_nom)
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.cargos)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.cargo_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cargo_nom)
                            </td>
                            <td class="asd">
                                <button class="editar" onclick="loadPartial('Edit', @item.cargo_id)">Editar</button>
                                <button class="detalles" onclick="loadPartial('Details', @item.cargo_id)">Detalles</button>
                                <button class="eliminar" onclick="loadPartial('Delete', @item.cargo_id)">Eliminar</button>
                                @*@Html.ActionLink("Editar", "RenderPartial", new { partialName = "Editar", id = item.cargo_id }, new { @class = "editar" })
                                    @Html.ActionLink("Detalles", "RenderPartial", new { partialName = "Detalles", id = item.cargo_id }, new { @class = "detalles" })
                                    @Html.ActionLink("Eliminar", "RenderPartial", new { partialName = "Eliminar", id = item.cargo_id }, new { @class = "eliminar" })*@
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
        <div id="partial-container" class="Cont_Form">
        </div>
    </div>
</div>
<script>
    function loadPartial(action, id) {
        $.ajax({
            url: '/Cargos/' + action,
            type: 'GET',
            data: { id: id },
            success: function (data) {
                $('#partial-container').html(data);
            },
            error: function () {
                alert('Error al cargar la vista');
            }
        });
    }
    $(document).ready(function () {
        loadPartial('Create');
    });
</script>