@model PaginaWebMVC.ViewModels.GetCargosVM

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Cargos";
}

<div class="Cont_">
    <div class="Cont_Header">
        <h2>
            CARGOS
        </h2>
        <input type="search" placeholder="Buscar">
    </div>
    <div class="Cont_Body">
        <div class="Cont_Form">
            @Html.Partial("Create")
        </div>
        <div class="Cont_Tabla">
            <table>
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.newCargo.cargo_id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.newCargo.cargo_id)
                        </th>
                        <th>
                            Acciones
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.cargos)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.cargo_id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.cargo_nom)
                            </td>
                            <td class="asd">
                                @Html.ActionLink("Editar", "Edit", new { id = item.cargo_id }, new { @class = "editar" })
                                @Html.ActionLink("Detalles", "Details", new { id = item.cargo_id }, new { @class = "detalles" })
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.cargo_id }, new { @class = "eliminar" })
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
